<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>        
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--
    In order to recieve location information, you must ensure the layout has the parameter ${callsite} and all its properties set accordantly.
     -->
    <target xsi:type="Console"
              name="ConsoleLogger"/>
    <rules>
      <logger name="*" minlevel="TRACE" writeTo="ConsoleLogger" />
    </rules>
  </nlog>
</configuration>