<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>        
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler,ReflectSoftware.Insight" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" /></configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.15.0" newVersion="4.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <insightSettings>
      <baseSettings>
        <configChange enabled="true" />      
        <propagateException enabled="false" />      
        <exceptionEventTracker time="20" />
        <debugMessageProcess enabled="true" />
      </baseSettings>

      <listenerGroups active="Debug">
        <group name="Debug" enabled="true" maskIdentities="false">
          <destinations>
            <destination name="Viewer" enabled="true" filter="" details="Viewer" />
          </destinations>
        </group>
      </listenerGroups>
    
      <logManager>      
        <instance name="nlogInstance1" category="NLog" />      
      </logManager>
  </insightSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--
    In order to recieve location information, you must ensure the layout has the parameter ${callsite} and all its properties set accordantly.
     -->
    <extensions>
      <add assembly="ReflectSoftware.Insight.Extensions.NLog" />
    </extensions>
    <targets>
      <target name="ReflectInsight" xsi:type="ReflectInsight" instanceName="nlogInstance1" displayLevel="true" displayLocation="true" layout="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}" />
    </targets>
    <rules>
      <logger name="*" minlevel="TRACE" writeTo="ReflectInsight" />
    </rules>
  </nlog>
<log4net><appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender"><layout type="log4net.Layout.PatternLayout"><conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" /></layout></appender><root><level value="INFO" /><appender-ref ref="ConsoleAppender" /></root></log4net></configuration>